BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.pdb
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.vshost.exe
BattleShip-2014/ClientBattleShip/obj/Debug/BattleShip_2014.Client.resources
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csproj.FileListAbsolute.txt
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csproj.GenerateResource.Cache
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csprojResolveAssemblyReference.cache
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.pdb
BattleShip-2014/BattleShip-2014.v12.suo
BattleShip-2014/BattleShip-2014.v12.suo
BattleShip-2014/BattleShip-2014.v12.suo
BattleShip-2014/BattleShip-2014/bin/Debug/BattleShip-2014.dll
BattleShip-2014/BattleShip-2014/bin/Debug/BattleShip-2014.pdb
BattleShip-2014/BattleShip-2014/obj/Debug/BattleShip-2014.dll
BattleShip-2014/BattleShip-2014/obj/Debug/BattleShip-2014.pdb
BattleShip-2014/BattleShip-2014/obj/Debug/ClassesBattleShip.csproj.FileListAbsolute.txt
BattleShip-2014/ClientBattleShip/bin/Debug/BattleShip-2014.dll
BattleShip-2014/ClientBattleShip/bin/Debug/BattleShip-2014.pdb
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.pdb
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.vshost.exe
BattleShip-2014/ClientBattleShip/Client.resx
BattleShip-2014/ServeurBattleShip/obj/Debug/ServeurBattleShip.pdb
BattleShip-2014/ServeurBattleShip/obj/Debug/ServeurBattleShip.exe
*.cache
*.Cache
BattleShip-2014/ServeurBattleShip/obj/Debug/ServeurBattleShip.csproj.FileListAbsolute.txt
BattleShip-2014/ServeurBattleShip/bin/Debug/ServeurBattleShip.pdb
BattleShip-2014/ServeurBattleShip/bin/Debug/ServeurBattleShip.exe
BattleShip-2014/ServeurBattleShip/bin/Debug/BattleShip-2014.pdb
BattleShip-2014/ServeurBattleShip/bin/Debug/BattleShip-2014.dll
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.pdb
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csprojResolveAssemblyReference.cache
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csproj.GenerateResource.Cache
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csproj.FileListAbsolute.txt
BattleShip-2014/ClientBattleShip/obj/Debug/BattleShip_2014.Client.resources