BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.pdb
BattleShip-2014/ClientBattleShip/bin/Debug/ClientBattleShip.vshost.exe
BattleShip-2014/ClientBattleShip/obj/Debug/BattleShip_2014.Client.resources
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csproj.FileListAbsolute.txt
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csproj.GenerateResource.Cache
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.csprojResolveAssemblyReference.cache
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.exe
BattleShip-2014/ClientBattleShip/obj/Debug/ClientBattleShip.pdb